<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
 <link href="{{ url_for('static', filename='scripts/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='scripts/jquery-3.2.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

    <title>Dima Koora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel = "icon" href = "{{ url_for('static', filename='logo_head.png') }}" type = "image/x-icon">
  </head>
  <body>
   {% include "header.html" %}


    <!-- Page Content -->
        <div class="container">

           <!-- Page Heading -->
          <h1 class="my-4">Contact Us
            
          </h1>

          <hr>

          <!-- Project Four -->

        <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/></svg>
                  <h3>Address</h3>
                  <p>Casablanca  Morocco</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50"><path fill="none" d="M0 0h24v24H0z"/><path d="M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158 1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z"/></svg>
                  <h3>Call Us</h3>
                  <p>+212 719622983</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"/></svg>
                  <h3>Email Us</h3>
                  <p>younes.amh1@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-8h4v2h-6V7h2v5z"/></svg>
                  <h3>Open Hours</h3>
                  <p>Monday - Sunday<br>8:00AM - 06:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form method="post">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="fname" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="fmail" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="ftext" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="g-recaptcha" data-sitekey="{{captcha}}"></div>
                  <br>
                  <input class="btn btn-success" type="submit" value="Send message">
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->
  <!-- /.row -->

          <hr>



{% include "footer.html" %}

  </body>
</html>
