<!-- Footer -->
  <footer class="bg-secondary text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Dima Koora</h5>

          <p>
            At Dima Koora, we believe that there is a better way to watch football without footing the bill. A more pleasant, enjoyable and satisfatory where users are earned rather than bought. We are excessively passionate about it, and our aim is to provide the best quality of the most wanted matchs from all around the world totally for free because we accept the idea that the joy is in the hand of everyone. Therefore, our first priority is to give you the best agreeable experience.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Chat with us :</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a target="_blank" href="https://t.me/dimakoora" class="text-white">
                <img src="{{ url_for('static',filename='telegram.png') }}" width="37" height="37"/>
              </a>

            </li>
            <li>
               <a target="_blank" href="https://www.instagram.com/dimakoora/" class="text-white">
                <img src="{{ url_for('static',filename='instagram.png') }}" width="37" height="37"/>
              </a>
            </li>
            <li>
             <a target="_blank" href="https://twitter.com/koora_dima" class="text-white">
                <img src="{{ url_for('static',filename='twitter.png') }}" width="37" height="37"/>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.facebook.com/DimaKoora-102272322008853/" class="text-white">
                <img src="{{ url_for('static',filename='facebook.png') }}" width="37" height="37"/>
              </a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Browse our Website</h5>

          <ul class="list-unstyled">
            <li>
              <a href="{{ base+'contact' }}" class="text-white">Contact Us</a>
            </li>
            <li>
              <a href="{{ base+'copyright' }}" class="text-white">Copyright</a>
            </li>
            <li>
              <a href="{{ base+'donate' }}" class="text-white">Donation</a>
            </li>
            <li>
              <a href="#!" class="text-white">Services</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://koora.amhyou.com/">koora.amhyou.com</a>
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->